<ion-list>
  <ion-item-sliding *ngFor="let item of itemList; let i=index ">
    <ion-item   detail=""
                color="tertiary"
                (click)="emitSelectedList(item)">
        <ion-label>{{item.tittle}}</ion-label>
        <ion-note slot="end" color="secondary" >{{item.items.length}} Items</ion-note>
    
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="toClearList(item)"
          color="danger"></ion-item-option>
          <ion-icon slot="ion-icon-only" name="close" ></ion-icon>
          
        </ion-item-options>
      </ion-item-sliding>

</ion-list>