<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons>
      <ion-back-button slot="start" color="secondary" defaultHref="/tab1"></ion-back-button>
      <ion-title>{{list.tittle}} </ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-list>
      <ion-item color="tertiary">
        <ion-label position="floating">New item</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"
                  (keyup.enter) = "addItem()"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header color="tertiary">
        <ion-label>Unfinished tasks</ion-label>
      </ion-list-header>
      <ion-item color="tertiary"
                *ngFor="let item of list.items">
        <ion-checkbox color="secondary"
                      slot="start"
                      [(ngModel)]="item.completed"></ion-checkbox>
        <ion-label>{{item.desc}}</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
