<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title>
      Pending
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary"> 

  <app-lists [itemList]="getAllShoppingLists()" (selectedItem)="selectedList($event)" ></app-lists>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary"
                    (click)="addList()">
      <ion-icon name="Add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
